<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DaysInState.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D504480A1CF7D7CF00A4621F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50448211CF7D7CF00A4621F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D504482C1CF7D7CF00A4621F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
